{% extends "quizzes/layout1.html" %}
{% load static %}
{% load define_action %}

{% block layout2 %}
  <script src="{% static 'quizzes/script2.js' %}"></script>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'index' %}">Quizzes</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categories
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for name, value in 0|categories %}
              <a class="dropdown-item" href="{% url 'category' value %}">{{ name }}</a>
            {% endfor %}
          </div>
        </li>
        {% if user.is_authenticated %}
          <!--<li class="nav-item">
            <a class="nav-link" href="{% url 'my_quizzes' %}"">My quizzes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'favourites' %}">Favourites</a>
          </li>-->
          <li class="nav-item">
            <a class="nav-link" href="{% url 'add_quiz' %}">Add quiz</a>
          </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="#" role="button" id="show-join-quiz-modal">Join quiz</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="get">
        <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search for quizzes" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      {% if user.is_authenticated %}
      <div class="ml-2">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Account
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
              <!--<a class="dropdown-item" href="#">Profile</a>-->
              <a class="dropdown-item" href="{% url 'my_quizzes' %}"">My quizzes</a>
              <a class="dropdown-item mt-2" href="{% url 'favourites' %}">Favourites</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item text-danger" href="{% url 'logout' %}">Logout</a>
            </div>
          </li>
        </ul>
      </div>
      {% else %}
        <a class="btn btn-outline-info my-2 my-sm-0 text-info ml-2" href="{% url 'login' %}" type="submit">Login</a>
      {% endif %}
    </div>
  </nav>
  <div class="mt-2 container flex">
    <div class="row">
      <main class="col-12">
        {% block body %}
        {% endblock %}
        <div class="modal fade" id="messageModal3" tabindex="-1" role="dialog" aria-labelledby="messageModal3Label" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="messageModal3Label">Join quiz</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <input type="text" class="form-control" id="join-quiz-id" placeholder="Quiz code">
              </div>
              <div class="modal-footer">
                <form id="join-quiz-form-modal">
                  {% csrf_token %}
                    <input type="submit" class="btn btn-primary" value="Join">
                </form>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="messageModal4" tabindex="-1" role="dialog" aria-labelledby="messageModal4Label" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="messageModal4Label"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body"></div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
{% endblock %}